html,
body{
    height: 100%;
    margin: 0;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

*{
    margin: 0;
}

/* LEFT CONTAINER */
col, #LeftContainer{
    background-color: beige;
    height: 100vh;
    text-align: center;

    margin: auto;
    /* padding: 5%; */

    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
/* IMAGE */
#slogan{
    /* height: 90px;  */
    /* width: auto; */
}

/* RIGHT CONTAINER */
col, #RightContainer{
    background-color: black;
    height: 100vh;
    text-align: center;
    padding: 5%;
}
/* LOGIN FORM */
#login-form{
    /* text-align: center; */
    background-color: #023E73;
    font-family: 'Segoe UI';

    height: fit-content;
    width: fit-content;

    /* padding-left: 15%;
    padding-right: 10%;  */
    padding-top: 5.5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
/* LOGO */
.logo{
    /* align-items: center; */
    padding-top: 0%;
}
/* TEXTBOXES */
input{
    width: 200px;
    height: 40px;
    background-color: #EEE9DA;
    border-radius: 2px;
    border-color: #000000;
    font-style: italic;
    /* float: left; */
    padding-left: 2%;

}
/* FORGOT PASSWORD */
#forgotpass{
    float: left;
    color:#606060;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 700;
    /* margin-left: 15px; */
}
/* LOGIN BUTTON */
#btnlogin{
    float: right;
    background-color: #FBFFB1;
    color: #5e5e5e;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}
/* SIGN-UP LINK */
#signup{
    /* float: left;  */
    color:#5c5c5c;
    /* font-style: italic;  */
    font-size: 0.9em;
    font-weight: 700;
    margin-right: 15px;
    /* text-shadow: 2px 3px 3px rgba(102, 102, 102, 0.3);*/
}
/* GUEST BUTTON */
#btnguest{
    background-color: #243763;
    color: white;
    font-weight: 600;
    font-size: larger;
    border-radius: 5px;
    height: 40px;
    /* padding: 10px; */
}
/* LINE DIVIDER */
hr{
    height: 3px;
    background-color: #242424;
    border: none;
}